@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #8e44ad;
  color: white;
}

.counter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px;
  font-size: large;
  text-align: center;
}
.counter {
  margin: 10px 0;
  font-size: 50px;
}

i {
  font-size: 80px;
  text-align: center;
}

@media only screen and (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
